# Backend
PORT=5000
MONGODB_URI=mongodb+srv://shubhamm1_db_user:rElYLZ6eg50AxYp5@cluster0.lmtubes.mongodb.net/
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Blockchain (Ethereum)
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337
PRIVATE_KEY=your-admin-wallet-private-key-for-contract-calls

# Contract Addresses (after deployment)
KYC_CONTRACT_ADDRESS=0xd9145CCE52D386f254917e481eB44e9943F39138
CREDIT_CONTRACT_ADDRESS=0xd8b934580fcE35a11B58C6D73aDeE468a2833fa8
LOAN_CONTRACT_ADDRESS=0xD7ACd2a9FD159E69Bb102A1ca21C9a3e3A5F771B
COLLATERAL_CONTRACT_ADDRESS=0xf8e81D47203A594245E36C48e151709F0C19fBe8
