#Backend Server
PORT=
MONGODB_URI=
JWT_SECRET=

# Blockchain - Sepolia RPC Configuration
SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=

# Backend Blockchain Config
RPC_URL=
PRIVATE_KEY=
CHAIN_ID=

# Smart Contract Addresses (filled after deployment)
KYC_CONTRACT_ADDRESS=
CREDIT_CONTRACT_ADDRESS=
LOAN_CONTRACT_ADDRESS=
COLLATERAL_CONTRACT_ADDRESS=

# Event Listener Settings
EVENT_LISTENER_INTERVAL=
EVENT_LISTENER_BLOCKS_TO_SCAN=